<!DOCTYPE html>
<html lang="es">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>@ViewBag.Title - IOMA</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
    type="text/css">

  <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
</head>

<body class="fixed-nav" id="page-top">
    <ng2-slim-loading-bar color="blue"></ng2-slim-loading-bar>  
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <img src="/assets/images/logo-3.png" class="logo-ioma">


    </a>


    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
      data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="fa fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">

      <ul class="navbar-nav ml-auto">

        <li class="nav-item">

          <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button"
            onclick="">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
          </button>

        </li>
      </ul>


    </div>
    <a class="a-gba-xl" target="_blank" href="https://www.gba.gob.ar/">
      <img src="/assets/images/logo-gba-3.png" class="logo-gba-xl pr-0">
    </a>
    
  </nav>
  <router-outlet></router-outlet>
 

  <footer class="sticky-footer">
    <div class="container">
      <div class="text-center">
        <small>Copyright &copy; IOMA</small>
      </div>
    </div>
  </footer>
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fa fa-angle-up"></i>
  </a>


</body>

</html>